{{#link-to 'sign-up' class='list-group-item'}}
  Sign Up
{{/link-to}}
{{#link-to 'sign-in' class='list-group-item'}}
  Sign In
{{/link-to}}
<button class='btn btn-default list-group-item' {{action 'Logout'}}> Logout</button>